<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bil372Proje.Properties.Settings.bil372DBCon" connectionString="Data Source=bil372.database.windows.net;Initial Catalog=bil372DB;User ID=bahadir"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>